div {
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    width: 300px;
    padding: 10px;
}

img {
    padding: 5px auto;
    width: 250px;
}


div p:nth-child(3)::after {
    content: "📧"
}

div:nth-child(even) {
    background-color: skyblue;
}

#special {
    font-size: 2rem;
    color: purple;
}

div:hover,
div:focus {
    background-color: lightgoldenrodyellow;
}