tr:nth-child(even) {
    background-color: lightblue;
}

tr:hover {
    background-color: lightgoldenrodyellow;
}

td:nth-child(2)::before {
    content: "🍽️"
}
table th {
    font-weight: bold;
}

table td {
    color: blue;
}