.flag-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 12%;
}

.flex-direction {
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo-name-container,
.navbar-container,
.navbar-ul {
    display: flex;
    gap: 10px;
}

.no-flag {
    width: 15%;
}

li {
    list-style: none;
}
